<h1>Contact Us</h1>
<form>
    <div class="control-group">
        <label>First Name</label>
        <input type="text" class="form-control" />
    </div>
    <div class="control-group">
        <label>Last Name</label>
        <input type="text" class="form-control" />
    </div>
    <div class="control-group">
        <label>Email</label>
        <input type="text" class="form-control" />
    </div>
    <div class="control-group">
        <label>Message</label>
        <textarea class="form-control"></textarea>
    </div>
    <div class="control-group">
        <button class="submit">Submit</button>
    </div>
</form>

@code {

}
