@using ContactUsExample.Components
@page "/"
<div><!-- Gutter Left --></div>
<div>
    <ContactForm />
    <NavLink href="messages" Match="NavLinkMatch.Prefix">View Submitted Messages</NavLink>
</div>
<div><!-- Gutter Right --></div>
