@using ContactUsExample.Components
@page "/messages"
<div><!-- Gutter Left --></div>
<div>
    <NavLink href="/" Match="NavLinkMatch.All">Return to Contact Us Form</NavLink>
    <ContactMessagesViewer />
</div>
<div><!-- Gutter Right --></div>